include /atoms/button/button

mixin item(item)
  - var {type, href, price, name, country, tankType, image, size, isWish} = item
  a(class=[attributes.class, 'item', '_link'] href=href)
    img(class=['item__img'] width='50%' height='50%' src='@images/vehicle/is-6.webp')
    //img(class=['item__img', `item__img--${type}`, size ===
    //'big' ? 'item__img--big' : '', '_img'] width='50%' height='50%' src=require(`@images/${type}/${image}.webp`) alt=image)
    .item__content
      h2.item__descr
        if (type === 'vehicle')
          span(class=['item__country', `item__country--${country}`])
          span(class=['item__vehicle-type', `item__vehicle-type--${tankType}`])
        span.item__name= ` ${name}`
      p.item__price $ #{price}
      +button('Purchase').item__bay
    button(class=['item__wish', isWish ? 'item__wish--added' : ''])